tbody tr:nth-child(odd) {
  background-color: #3358ff;
}
  
tbody tr:nth-child(even) {
  background-color: #95b7e4;
}
  
tbody tr {
  background-image: url();
}
  
table {
  border-collapse: collapse;
  width: 50%;
  background-color: #3385ff;
}

#pantalla{
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/85f06f80-f397-44e2-8f59-011e03c8fd38/dauyu3w-5bf401fe-fc6b-4a5e-8e29-c69959bddca9.png/v1/fill/w_1024,h_576,q_80,strp/space_invaders_wallpaper_by_wackix_dauyu3w-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvODVmMDZmODAtZjM5Ny00NGUyLThmNTktMDExZTAzYzhmZDM4XC9kYXV5dTN3LTViZjQwMWZlLWZjNmItNGE1ZS04ZTI5LWM2OTk1OWJkZGNhOS5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.1bcsDOpmSdk5y57PFODETSK2B2CiL1ALBnmDbpMkC7Y);
}

#formulario_Juego{
  display: grid;
  grid-template-areas: 'Nombre txt_Nombre'
                       'Plataforma txt_Plataforma'
                       'Estado txt_Estado'
                       'Puntaje txt_Puntaje'
                       'Error Error'
                       'Boton Boton';
  grid-template-columns: 10% 25%;
}

#Nombre{
  grid-area: Nombre;
}

#Plataforma{
  grid-area: Plataforma;
}

#Estado{
  grid-area: Estado;
}

#Puntaje{
  grid-area: Puntaje;
}

#nombre_Juego{
  grid-area: txt_Nombre;
}

#plataforma_Juego{
  grid-area: txt_Plataforma;
}

#estado_Juego{
  grid-area: txt_Estado;
}

#puntaje_Juego{
  grid-area: txt_Puntaje;
}

#Mensaje_Error{
  grid-area: Error;
  color: red;
  font-style: italic;
}

#informacion{
  display: grid;
  grid-template-areas: 'tabla info';
  grid-template-columns: 50% 40%;
}

#tabla_Juegos{
grid-area: tabla;
width: 100%;
height: fit-content;
}
/* 
#juegos_Cargados{
} */

#display_Info{
  grid-area: info;
}

#boton{
  grid-area: Boton;
  display: flex;
  margin-left: 20%;
  padding: 10px;
}

.box {
  border-style: ridge;
  border-width: 2px;
  margin: 10px;
  padding: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
